<h1>NGRX Store Demo</h1>
<h2>User:</h2>
<div class="form" [formGroup]="userForm">
    <input type="text" class="text" formControlName="name" placeholder="name" required>
    <input type="text" class="text" formControlName="surname" placeholder="surname" required>
    <input type="number" class="text" formControlName="age" placeholder="age" required>
    <button class="btn" (click)="updateUser()">Update</button>
</div>
<h2>Selector of user from store:</h2>
<pre>
    {{user$ | async | json}}
</pre>
